<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-input label="Sua senha" label-placement="floating" value="230526-SP01"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.somaSenha()">Senha Geral</ion-button>
      <ion-button expand="block">Senha Prioritária</ion-button>
      <ion-button expand="block">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
