<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatórios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Relatórios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Relatórios</ion-label>
        <ion-item>Total de senhas: {{senhasService.totalSenhas}}</ion-item>
        <ion-item>Total de senhas: 0</ion-item>
        <ion-item>Total de senhas: 0</ion-item>
        <ion-item>Total de senhas: 0</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
